@font-face {
  font-family: "gbs";
  src: url(/fonts/PlaywriteGBS-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Robot";
  src: url(/fonts/Roboto-Italic.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url("./picrtures/bacl.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

/* Параграфы и текст */

.header1 {
  text-transform: uppercase;
  margin-top: 10vh;
  font-size: 45px;
  line-height: 1.5em;
  color: rgb(255, 255, 255);
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.5em;
  color: rgb(255, 255, 255);
  text-align: center;
}

.img {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
}

.img1 {
  width: 50%;
}

.players {
  font-size: 20px;
  background-color: rgb(218, 208, 247);
  color: rgb(0, 0, 0);
  font-weight: bolder;
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  font-family: "gbs";
}

sostav {
}

.ulka {
  text-decoration: none;
  text-align: center;
  display: flex;
  list-style-type: none;
}

.history {
}

.history-team {
  font-size: 20px;
  background-color: rgb(140, 98, 255);
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  font-family: "gbs";
}

/* Навигация */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  cursor: pointer;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

/* Личный кабинет типо */

.user {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 0;
  justify-content: end;
}

.user-url {
  position: relative;
  display: inline-block;
  padding: 20px;
}

/* Ссылки */

/* Кнопки */

#btn-1 {
  text-transform: uppercase;
  margin-top: 10px;
}


.loader-conteiner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-out;
}

.loader-conteiner.active {
  opacity: 0;
  visibility: hidden;
}