@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: url("./picrtures/bacl.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

/* Навигация */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  cursor: pointer;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: .3s;
}

.navbar a:hover::before  {
  width: 100%;
}

/* Личный кабинет типо */

.user {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 0;
  justify-content: end;
}

.user-url {
  position: relative;
  display: inline-block;
  padding: 20px;
}

/* Ссылки */

/* Параграфы и текст */

.header1 {
  text-transform: uppercase;
  margin-top: 10vh;
  font-size: 45px;
  line-height: 1.5em;
  color: rgb(108, 119, 179);
  text-align: center;
}

/* Товар */

.Product {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}

.card {
  position: relative;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  width: 200px;
  height: 325px;
  text-align: center;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 15px;
  padding-bottom: 10px;
  transition: 1.3s;
}

.card:hover {
  border: 2px solid orange;
  transform: scale(1.1);
}

.card-img1 {
  width: 180px;
  height: 130px;
  padding-top: 10px;
  border-radius: 5px;
}

.card-img {
  width: 180px;
  height: 130px;
  object-fit: cover;
  padding-top: 10px;
  border-radius: 5px;
}

.card-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.card-rating {
  margin-bottom: 5px;
  font-size: 20px;
}

.cost {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.add-to-cart {
  background-color: rgb(0, 117, 0);
  border: none;
  color: white;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.5s;
}

.description {
  display: flex;
  position: relative;
  top: 0;
  margin-left: 8em;
  margin-bottom: 6px;
  text-decoration: none;
  outline: none;
  border: none;
  color: #000;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.6s;
}

.description:hover {
  background: #fff
}

.add-to-cart:hover {
  background-color: rgb(19, 161, 0);
}

.loader-conteiner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-out;
}

.loader-conteiner.active {
  opacity: 0;
  visibility: hidden;
}