.nav {
  font-size: 0;
  background-color: grey;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 0;
  justify-content: start;
}

.list-item {
  position: relative;
  display: inline-block;
  padding: 20px;
}
.sub-list-item {
  display: none;
  padding: 10px;
}

.sub-nav-list {
  position: absolute;
  top: 65px;
  left: -30px;
  display: block;
  width: 150px;
}

.list-item:hover .sub-list-item {
  display: block;
}

.page-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: grey;
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
}

.page-link:hover {
  color: rgb(194, 0, 136);
  background-color: lightblue;
}

.page-link:focus {
  border: rgb(0, 0, 0) 5px;
  color: rgb(0, 0, 0);
}

.page-link:active {
  color: rgb(4, 0, 255);
}

.user {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 0;
  justify-content: end;
}

.user-url {
  position: relative;
  display: inline-block;
  padding: 20px;
}
