@font-face {
  font-family: "gbs";
  src: url(/fonts/PlaywriteGBS-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Robot";
  src: url(/fonts/Roboto-Italic.ttf);
}

* {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url("./picrtures/bacl.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}


/* Параграфы и всё с текстом */
 


.city {
  font-size: 20px;
  background-color: rgb(177, 191, 236);
  color: rgb(92, 102, 255);
  font-weight: 700;
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  font-family: "gbs";
}
.lorem {
  color: blueviolet;
  font-size: 25px;
  line-height: 2em;
  text-align: justify;
  font-family: "roboto";
  box-sizing: border-box;
  border: 3px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  margin-top: 10vh;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  line-height: 1.5em;
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.lorem::after {
  color: rgb(255, 0, 0);
  height: 100px;
  width: 100px;
  content: "‶";
}
.lorem::before {
  color: rgb(255, 0, 0);
  height: 100px;
  width: 100px;
  content: "‶";
}

.lorem::first-line {
  background-color: rgba(180, 58, 228, 0.295);
}

/* Личный кабинет типо */

.user {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 0;
  justify-content: end;
}

.user-url {
  position: relative;
  display: inline-block;
  padding: 20px;
}

/* Кнопки */

#btn-1 {
  text-transform: uppercase;
  margin-top: 10px;
}

#btn-2 {
  text-transform: lowercase;
}

/* Навигация */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  cursor: pointer;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  
}

.navbar a::before:hover {
  width: 100%;
  transition: 0.3s;
}
/* Ссылки */



/* Картинки */

.img1 {
  width: 300px;
  border: 3px solid rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 6px 3px;
  background-color: rgb(255, 255, 255);
  margin-left: 5px;
  border-radius: 60px;
  margin: 0auto;
}
.img2 {
  width: 300px;
  border: 3px solid rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 6px 3px;
  background-color: rgb(255, 255, 255);
  margin-left: 5px;
  border-radius: 60px;
  margin: 0auto;
}
.img3 {
  width: 330px;
  border: 3px solid rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 6px 3px;
  background-color: rgb(255, 255, 255);
  margin-left: 5px;
  border-radius: 60px;
  margin: 0auto;
}

/* Таблицы */

table {
  font-size: 25px;
  border: solid black 3px;
  border-collapse: collapse;
}

td,
th {
  border: solid black 1px;
}

.caption {
  color: red;
}

/* Всплывающий банер */

/* Карточка */

.card-conteiner {
  border: 3px solid black;
  box-sizing: border-box;
  width: 35vw;
  height: 80vh;
  margin-top: 15px;
}

.card-header {
  height: 40%;
  width: 100%;
  background-image: url("./picrtures/japan_tokyo_akihabara_AdobeStock_295310062_Editorial_Use_Only.webp");
  background-size: cover;
}

.card {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -20%;
}

.About-User {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
}
