@font-face {
  font-family: "Shantel";
  src: url(/fonts/ShantellSans-Italic-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf);
}

* {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Shantel";
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

fieldset {
  margin-bottom: 10px;
}

legend {
  background-color: rgba(0, 0, 0, 0.664);
  color: white;
  padding: 3px 6px;
  margin-bottom: 2px;
}
label {
  margin-bottom: 10px;
  display: flex;
}

select textarea {
  width: 100%;
  margin-bottom: 10px;
}

textarea {
  height: 70px;
  width: 100%;
  resize: none;
}

button {
  padding: 10px 20px;
  background-color: rgb(103, 180, 93);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: green;
}
