@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f242d;
}

.conteiner form {
    width: 700px;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
}

.conteiner .row {
    display: flex;
    flex-direction: row;
}

form .row {
    display: flex;
    gap: 15px;
}

.row .column {
    flex: 1 1 250px;
}

.column .title {
    position: relative;
    font-size: 20px;
    color: #333;
    text-transform: uppercases;
    margin-bottom: 5px;
}

.column .input-box {
    margin: 15px 0;
}

.input-box span {
    display: block;
    margin-bottom: 10px;
}

.input-box input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.column .flex {
    display: flex;
    gap: 15px;
}

.flex .input-box {
    margin-bottom: 5px;
}

form .btn {
    width: 100%;
    padding: 12px;
    background: #8175d3;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

form .btn:hover {
    color: #1f242d;
    background: #fff;
    border: 1px solid ;
    transition: .3s ease;
}

.input-box img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}


i {
    position: absolute;
    font-size: 15px;
    padding: 5px;
    margin-left: -3vh;
    margin-top: -3vh;
    border: none;
    outline: none;
    background: #8175d3;
    border-radius: 3px;
    transition: .7s ease;
}

i:hover {
    background: #fff;
}

.loader-conteiner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
  }
  
  .loader-conteiner.active {
    opacity: 0;
    visibility: hidden;
  }