@font-face {
  font-family: "gbs";
  src: url(/fonts/PlaywriteGBS-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Robot";
  src: url(/fonts/Roboto-Italic.ttf);
}

/* Параграфы и текст */

.header {
  text-transform: uppercase;
  font-size: 45px;
  line-height: 1.5em;
  color: rgb(108, 119, 179);
  text-align: center;
}

.variants {
  font-size: 20px;
  background-color: rgb(140, 98, 255);
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  font-family: "gbs";
}

/* Навигация */

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 0;
  justify-content: center;
}

.list-item {
  position: relative;
  display: inline-block;
  padding: 20px;
}
.sub-list-item {
  display: none;
  padding: 10px;
}

.sub-nav-list {
  position: absolute;
  top: 65px;
  left: -30px;
  display: block;
  width: 150px;
}

.list-item:hover .sub-list-item {
  display: block;
}
/* Ссылки */

.page-link {
  text-decoration: none;
  color: rgb(0, 27, 114);
  font-size: 30px;
  background-color: rgba(194, 194, 212, 0.616);
  padding: 10px;
  border-radius: 50px;
}

.page-link:hover {
  color: rgb(194, 0, 136);
  background-color: lightblue;
}

.page-link:focus {
  border: rgb(0, 0, 0) 5px;
  color: rgb(0, 0, 0);
}

.page-link:active {
  color: rgb(4, 0, 255);
}

/* Кнопки */

#btn-1 {
  text-transform: uppercase;
  margin-top: 10px;
}
